// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the MSRZFIVE OSM
 *
 * Copyright (C) 2023 ARIES Embedded
 * Copyright (C) 2017 Jacopo Mondi <jacopo+renesas@jmondi.org>
 * Copyright (C) 2021 Renesas Electronics
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "r9a07g043f.dtsi"
#include "r9a07g043f-u-boot.dtsi"
#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>

/ {
	model = "msrzfive";
	compatible = "renesas,r9a07g043f", "renesas,rzf";

	aliases {
		serial0 = &scif0;
		spi0 = &spibsc;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@48000000 {
		u-boot,dm-spl;
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0 0x48000000 0 0x18000000>;
	};

	usb0_vbus0_otg: regulator-vbus0-usb2 {
		compatible = "regulator-fixed";
		regulator-name = "USB20_OTG_VBUS";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};
};

&pinctrl {
	eth0_pins: eth0 {
		pinmux = <RZG2L_PINMUX(1, 0, 1)>,
			<RZG2L_PINMUX(1, 1, 1)>,
			<RZG2L_PINMUX(1, 2, 1)>,
			<RZG2L_PINMUX(1, 3, 1)>,
			<RZG2L_PINMUX(1, 4, 1)>,
			<RZG2L_PINMUX(2, 0, 1)>,
			<RZG2L_PINMUX(2, 1, 1)>,
			<RZG2L_PINMUX(2, 2, 1)>,
			<RZG2L_PINMUX(2, 3, 1)>,
			<RZG2L_PINMUX(3, 0, 1)>,
			<RZG2L_PINMUX(3, 1, 1)>,
			<RZG2L_PINMUX(3, 2, 1)>,
			<RZG2L_PINMUX(3, 3, 1)>,
			<RZG2L_PINMUX(4, 0, 1)>,
			<RZG2L_PINMUX(4, 1, 1)>,
			<RZG2L_PINMUX(4, 2, 1)>,
			<RZG2L_PINMUX(4, 3, 1)>,
			<RZG2L_PINMUX(4, 4, 1)>,
			<RZG2L_PINMUX(4, 5, 1)>;
	};
	eth1_pins: eth1 {
		pinmux = <RZG2L_PINMUX(7, 0, 1)>,
			<RZG2L_PINMUX(7, 1, 1)>,
			<RZG2L_PINMUX(7, 2, 1)>,
			<RZG2L_PINMUX(7, 3, 1)>,
			<RZG2L_PINMUX(7, 4, 1)>,
			<RZG2L_PINMUX(8, 0, 1)>,
			<RZG2L_PINMUX(8, 1, 1)>,
			<RZG2L_PINMUX(8, 2, 1)>,
			<RZG2L_PINMUX(8, 3, 1)>,
			<RZG2L_PINMUX(8, 4, 1)>,
			<RZG2L_PINMUX(9, 0, 1)>,
			<RZG2L_PINMUX(9, 1, 1)>,
			<RZG2L_PINMUX(9, 2, 1)>,
			<RZG2L_PINMUX(9, 3, 1)>,
			<RZG2L_PINMUX(10, 0, 1)>,
			<RZG2L_PINMUX(10, 1, 1)>,
			<RZG2L_PINMUX(10, 2, 1)>,
			<RZG2L_PINMUX(10, 3, 1)>,
			<RZG2L_PINMUX(10, 4, 1)>;
	};
	mmc_pins: mmc0 {
		u-boot,dm-spl;
		pinmux = <RZG2L_PINMUX(11, 2, 0)>;
	};
	usb0_pins: usb0 {
		pinmux =
			<RZG2L_PINMUX(5, 0, 1)>, /* VBUS_EN */
			<RZG2L_PINMUX(5, 2, 1)>, /* OVC */
			<RZG2L_PINMUX(5, 3, 1)>; /* OTG_ID */
	};
	usb1_pins: usb1 {
		pinmux =
			<RZG2L_PINMUX(6, 0, 1)>, /* VBUS_EN */
			<RZG2L_PINMUX(6, 1, 1)>; /* OVC */
	};
};

&xinclk {
        clock-frequency = <24000000>;
};

&scif0 {
	status = "okay";
	clock = <100000000>;
};

&sdhi0 {
	bus-width = <8>;
	status = "okay";
	/* This is used for interface that support both eMMC and SD in board */
	mutual-channel;
};

&sdhi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc_pins>;
	bus-width = <4>;
	status = "okay";
	pwr-gpios = <&P11 2 GPIO_ACTIVE_HIGH>;
};

&eth0 {
	pinctrl-names = "default";
	pinctrl-0 = <&eth0_pins>;
	phy-handle = <&phy0>;
	phy-mode = "rgmii";
	status = "okay";

	phy0: ethernet-phy@7 {
	      reg = <7>;
	};
};

&eth1 {
	pinctrl-names = "default";
	pinctrl-0 = <&eth1_pins>;
	phy-handle = <&phy1>;
	phy-mode = "rgmii";
	status = "okay";

	phy1: ethernet-phy@7 {
		reg = <7>;
	};
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&spibsc {
        status = "okay";
        flash0: spi-flash@0 {
                compatible = "spi-flash", "jedec,spi-nor";
                spi-max-frequency = <40000000>;
                spi-tx-bus-width = <2>;
                spi-rx-bus-width = <2>;
                reg = <0>;
        };
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&usb2_phy0 {
	status = "okay";
};

&usb2_phy1 {
	status = "okay";
};

&wdt0 {
	status = "okay";
	timeout-sec = <60>;
};
