// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the MSRZ2GUL OSM
 *
 * Copyright (C) 2025 ARIES Embedded
 */
#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>

/ {
	aliases {
		serial0 = &scif0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&pinctrl {
	eth0_pins: eth0 {
		pinmux = <RZG2L_PINMUX(1, 0, 1)>,	/* TXC/TX_CLK */
			 <RZG2L_PINMUX(1, 1, 1)>,	/* TX_CTL/TX_EN */
			 <RZG2L_PINMUX(1, 2, 1)>, 	/* TXD0 */
			 <RZG2L_PINMUX(1, 3, 1)>, 	/* TXD1 */
			 <RZG2L_PINMUX(1, 4, 1)>, 	/* TXD2 */
			 <RZG2L_PINMUX(2, 0, 1)>, 	/* TXD3 */
			 //<RZG2L_PINMUX(2, 1, 1)>, 	/* TX_ERR */
			 <RZG2L_PINMUX(2, 2, 1)>, 	/* TX_COL */
			 <RZG2L_PINMUX(2, 3, 1)>, 	/* TX_CRS */
			 <RZG2L_PINMUX(3, 0, 1)>, 	/* RXC/RX_CLK */
			 <RZG2L_PINMUX(3, 1, 1)>,	/* RX_CTL/RX_DEV */
			 <RZG2L_PINMUX(3, 2, 1)>, 	/* RXD0 */
			 <RZG2L_PINMUX(3, 3, 1)>, 	/* RXD1 */
			 <RZG2L_PINMUX(4, 0, 1)>, 	/* RXD2 */
			 <RZG2L_PINMUX(4, 1, 1)>, 	/* RXD3 */
			 <RZG2L_PINMUX(4, 2, 1)>, 	/* RX_ERR */
			 <RZG2L_PINMUX(4, 3, 1)>, 	/* MDC */
			 <RZG2L_PINMUX(4, 4, 1)>; 	/* MDIO */
			 //<RZG2L_PINMUX(4, 5, 1)>; 	/* LINKSTA */
	};

	usb0_pins: usb0 {
		pinmux = <RZG2L_PINMUX(5, 0, 1)>,	/* VBUS	*/
			 <RZG2L_PINMUX(5, 2, 1)>;	/* OVC	*/
	};

	usb1_pins: usb1 {
		pinmux = <RZG2L_PINMUX(6, 0, 1)>,	/* VBUS	*/
			 <RZG2L_PINMUX(5, 4, 5)>;	/* OVC */
	};
};

&xinclk {
	clock-frequency = <24000000>;
};

&scif0 {
	status = "okay";
	clock = <100000000>;
};

&sdhi1 {
	bus-width = <4>;
	status = "okay";
};

&eth0 {
	pinctrl-0 = <&eth0_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	status = "okay";

	phy0: ethernet-phy@7 {
		reg = <7>;
		rxc-skew-ps = <2400>;
		txc-skew-ps = <2400>;
		rxdv-skew-ps = <0>;
		txdv-skew-ps = <0>;
		rxd0-skew-ps = <0>;
		rxd1-skew-ps = <0>;
		rxd2-skew-ps = <0>;
		rxd3-skew-ps = <0>;
		txd0-skew-ps = <0>;
		txd1-skew-ps = <0>;
		txd2-skew-ps = <0>;
		txd3-skew-ps = <0>;
	};
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&ehci0 {
	pinctrl-names = "default";
	pinctrl-0 = <&usb0_pins>;
	status = "okay";
};

&ehci1 {
	pinctrl-names = "default";
	pinctrl-0 = <&usb1_pins>;
	status = "okay";
};

&xspi {
        num-cs = <1>;
        status = "okay";
        spi-max-frequency = <40000000>;
        #address-cells = <1>;
        #size-cells = <0>;
        flash0: spi-flash@0 {
                #address-cells = <1>;
                #size-cells = <1>;
                compatible = "spi-flash", "jedec,spi-nor";
                spi-max-frequency = <40000000>;
                spi-tx-bus-width = <1>;
                spi-rx-bus-width = <1>;
                reg = <0>;
                status = "okay";
        };
};
